pkgbase = dspi-console
	pkgdesc = Control application for the DSPi audio processor
	pkgver = 1.1.6beta4
	pkgrel = 1
	url = https://github.com/WeebLabs/DSPi-Console-Linux
	install = dspi-console.install
	arch = x86_64
	license = unknown
	makedepends = git
	makedepends = cargo
	makedepends = cmake
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-quickcontrols2
	depends = qt5-svg
	depends = qt5-wayland
	depends = hicolor-icon-theme
	depends = kwindowsystem5
	depends = libusb
	depends = systemd-libs
	depends = libx11
	depends = gcc-libs
	depends = glibc
	optdepends = kwayland-integration: blurred sidebar on KDE Plasma (Wayland)
	optdepends = xdg-desktop-portal: native file dialogs
	optdepends = udisks2: firmware updates
	source = dspi-console::git+https://github.com/WeebLabs/DSPi-Console-Linux.git#commit=c52952b7dd4d681d0034fb17ca8796da94c6c0a3
	sha256sums = SKIP

pkgname = dspi-console
